                <li>
                    <a href="/...">Inbox</a>
                </li>
                <li>
                    <a href="/...">Your Profile</a>
                </li>
                <li>
                    <button type="button" id ="logout" class="btn" data-toggle="modal" data-target="#registerModal">
                        Logout
                    </button>
                </li>
            </ul>
        </nav>
</header>

<section class="hero2">
    <div class="container" style="padding-top: 50px;">
    <form>
        <div class="fomr-group">
            <h1 style="padding: 30px;">Create new listing</h1>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="text" class="form-control" id="listingTitle">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Listing description</label>
            <textarea class="form-control" id="listingDesc" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Cost of project or hourly rate</label>
            <textarea class="form-control" id="listingCost" rows="1"></textarea>
        </div>
        <button type="submit" class="btn btn2" style="height: 60px; background-color: var(--dark); width: 100%;">Post Listing</button>
    </form>
    </div>
</section>

<section>
    {{#if handymans.length}}
        <h3 class="feature container"> Featured Projects</h3>
        <div class="featured row">
                {{#each (limit handymans 4) as |handyman|}}
                        {{> listing-details handyman}}
                {{/each}}
        </div>
    {{/if}}
    </div>
</section>
<script src="/javascript/logout.js"></script>