                <li>
                    <a href="/...">Inbox</a>
                </li>
                <li>
                    <a href="/...">Your Profile</a>
                </li>
                <li>
                    <button type="button" id ="logout" class="btn" data-toggle="modal" data-target="#registerModal">
                        Logout
                    </button>
                </li>
            </ul>
        </nav>
</header>

<section class="hero2">
    <div class="container">
        <div class="row hero2">
        </div>
    </div>
</section>

<section>
    <h3 class="feature container"> Featured Projects</h3>
    <div class="featured row">
        <article class="col-md-2">feature 1</article>
        <article class="col-md-2">feature 2</article>
        <article class="col-md-2">feature 3</article>
        <article class="col-md-2">feature 4</article>
        <article class="col-md-2">feature 5</article>
    </div>
</section>
