                <li>
                    <a href="/...">Inbox</a>
                </li>
                <li>
                    <button type="button" id ="createAccount" class="btn" data-toggle="modal" data-target="#registerModal">
                        Logout
                    </button>
                </li>
            </ul>
        </nav>
</header>

<section class="hero2">
    <div class="container">
        <div class="row hero2">
        </div>
    </div>
</section>

<section>
    {{#if handymans.length}}
        <h3 class="feature container"> Featured Projects</h3>
        <div class="featured row">
                {{#each (limit handymans 4) as |handyman|}}
                        {{> listing-details handyman}}
                {{/each}}
        </div>
    {{/if}}
</section>
