                <li>
                    <a href="/...">Inbox</a>
                </li>
                <li>
                    <button type="button" id ="logout" class="btn" data-toggle="modal" data-target="#registerModal">
                        Logout
                    </button>
                </li>
            </ul>
        </nav>
</header>

<section class="hero2">
    <div class="container">
        <div class="row hero2">
            Hello {{customerData.username}}
        </div>
    </div>
</section>

<section>
    {{#if listings.length}}
        <h3 class="feature container"> Featured Projects</h3>
        <div class="featured row">
                {{#each (limit listings 4) as |listing|}}
                        {{> listing-details listing}}
                {{/each}}
        </div>
    {{/if}}
</section>
<script src="/javascript/logout.js"></script>