                <li>
                    <a href="">Create an account:</a>
                </li>
                <li>
                    <button type="button" id ="handyman" class="btn" data-toggle="modal" data-target="#handymanModal">
                        Handyman
                    </button>
                </li>
                <li>
                    <button type="button" id ="customer" class="btn" data-toggle="modal" data-target="#customerModal">
                        Customer
                    </button>
                </li>
            </ul>
        </nav>
</header>

<section class="hero">
    <div class="container">
        <div class="row hero">
            <div class="col-md-6 hero-text">
                <h2>Seamlessly connecting homeowners with valuable services</h2>
                <p>Find project professionals for whatever your home may need. Login or create an account to start connecting!</p>
            </div>
            <div class="formlogin col-md-6">
                <h1>Log in</h1>
                <form id="login-form">
                    <div class="form-group">
                        <label for="InputEmail1">Email address</label>
                        <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="InputPassword1">Password</label>
                        <input type="password" class="form-control" id="InputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn2">Login</button>
                    {{!-- <button type="submit" class="btn" data-toggle="modal" data-target="#registerModal">Sign up</button> --}}
                </form>
            </div>
        </div>
    </div>
</section>

<section>
    {{#if handymans.length}}
        <h3 class="feature container"> Featured Projects</h3>
        <div class="featured row">
                {{#each (limit handymans 4) as |handyman|}}
                        {{> listing-details handyman}}
                {{/each}}
        </div>
    {{/if}}
</section>

<div class="modal fade" id="handymanModal" tabindex="-1" role="dialog" aria-labelledby="handymanModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="handymanModalTitle">Handyman Sign-Up</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Your name</label>
                        <input type="text" class="form-control" placeholder="First">
                        <input type="text" class="form-control" placeholder="Last">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Business name</label>
                        <input type="text" class="form-control" placeholder="Business name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password-login" placeholder="Password">
                    </div>
                    <button type="submit" class="btn" id="signup">Create Account</button>
                    <label class="login-instead">Already have an account?</label>
                    <button type="submit" class="btn btn2" id="login">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="customerModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerModalTitle">Customer Sign-Up</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password-login" placeholder="Password">
                    </div>
                    <button type="submit" class="btn" id="signup">Create Account</button>
                    <label class="login-instead">Already have an account?</label>
                    <button type="submit" class="btn btn2" id="login">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>