    <section class="container">
        <div class="row">
            <div class="col-md">
                <h2>Connecting homeowners with valuable services</h2>
                <p>Browse project professionals for whatever your home may need</p>
            </div>
        </div>
    </section>
