 <section class="hero">
        <div class="container">
            <div class="row hero">
                <div class="col-md-6 hero-text">
                    <h2>Seamlessly connecting homeowners with valuable services</h2>
                    <p>Find project professionals for whatever your home may need. Login or create an account to start connecting!</p>
                </div>
                <div class="formlogin col-md-6">
                    <h1>Log in</h1>
                    <form>
                        <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn2">Login</button>
                        <button type="submit" class="btn">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
</section>

    <section>
        <h3 class="feature container"> Featured Projects</h3>
        <div class="featured row">
            <article class="col-md-2">feature 1</article>
            <article class="col-md-2">feature 2</article>
            <article class="col-md-2">feature 3</article>
            <article class="col-md-2">feature 4</article>
            <article class="col-md-2">feature 5</article>
        </div>
    </section>