* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --dark: rgb(183, 205, 219);
    --light: rgb(204, 219, 228);
    --lighter: rgb(218, 227, 233);
}

body {
    background-color: var(--lighter);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--dark);
    padding: 0 30px;
    margin-bottom: 50px;
    position:sticky;
}

header h1 {
    padding: 10px;
}

header h1 a:hover {
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    list-style: none;
    align-items: center;
    padding-top: 15px;
}

header nav ul li {
    padding: 10px;
    font-weight: 200;
    font-size: 15px;
}

header nav ul li a:hover {
    text-decoration: none;
}

.hero .row {
    padding: 30px 0;
    background-color: var(--light);
}

.hero .row div {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.login-instead {
    padding-left: 60px;
    padding-right: 5px;
}

.feature {
    text-align: center;
    padding: 30px;
    font-weight: ;
}

.featured {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px 800px 100px;
    background-color: var(--dark);
    padding-bottom: 120px;
}