* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    /* --dark: rgb(183, 205, 219);
    --darker: rgb(78, 114, 136);
    --light: rgb(204, 219, 228);
    --lighter: rgb(218, 227, 233); */
    --dark: rgb(202, 168, 135);
    --darker: rgb(63, 41, 12);
    --light: rgb(209, 199, 164);
    --lighter: rgb(245, 237, 226);
}

body {
    background-color: var(--lighter);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--dark);
    padding: 0 30px;
    margin-bottom: 50px;
    position:sticky;
    margin: 0;
}

header h1 a {
    padding: 10px;
    color: var(--lighter);
}

header h1 a:hover {
    text-decoration: none;
    color: var(--darker);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    list-style: none;
    align-items: center;
    padding-top: 15px;
}

header nav ul li {
    padding: 10px;
    font-weight: 200;
    font-size: 15px;
}

header nav ul li a {
    color: var(--darker);
}

header nav ul li a:hover, header nav h1:hover {
    text-decoration: none;
    color: var(--lighter);
}

button {
    color: var(--lighter);
    background-color: var(--darker);
}

.hero {
    background-image: url('./html-templates/img/home.jpg');
    background-attachment: fixed;
    background-position: 55%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--lighter);
    text-shadow: 2px 2px var(--darker);
}

.hero2 {
    background-image: url('./html-templates/img/dashboard.jpg');
    background-attachment: fixed;
    background-position: 40%;
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--lighter);
    text-shadow: 2px 2px var(--darker);
}

.hero3 {
    background-image: url('./html-templates/img/profile.jpg');
    background-attachment: fixed;
    background-position: 40%;
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--dark);
}

.hero-text h2 {
    padding-bottom: 2vw;
}

.row {
    padding: 100px 0;
}

.login-instead {
    padding-left: 30px;
    padding-right: 5px;
}

.list-group-item a {
    color: var(--darker);
}

.btn2 {
    background-color: var(--lighter);
    color: var(--darker);
}

.feature {
    text-align: center;
    padding: 30px;
    font-weight: 200;
    color: var(--darker);
}

.featured {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px 800px 100px;
    background-color: var(--dark);
    padding-bottom: 120px;
}

.formlogin {
    display: inline-flex;
    flex-direction: column;
    padding: 1px;
}